
.wp-block-create-block-boilerplate {
	padding: 2px;

	&.text-box-align-right {
		text-align: right;
	}

	&.text-box-align-center {
		text-align: center;
	}

	&.text-box-align-left {
		text-align: left;
	}
} 